!!! 5
%html{lang: 'en', itemscope: ''}
	%head
		%title= @title.present? ? "#{@title} | Shakespeare's Monologues" : 'Shakespeare\'s Monologues'

		= javascript_include_tag 'jquery.min'
		= javascript_include_tag 'bootstrap.min'
		= javascript_include_tag 'application'
		= stylesheet_link_tag 'normalize'
		= stylesheet_link_tag 'bootstrap.min'
		= stylesheet_link_tag 'application'
		= yield_content :include

	.body

	= yield