.container
	.col-xs10
		=@title

.container
	.col-xs-2

	.col-xs-8
		%form{action: '/rate', method: 'post'}
		.rating
			= label_tag :rating, :class => 'first'
			= text_field_tag :rating, :value => params[:rating]
		.comments
			= label_tag :comments, :class => 'first'
			= text_field_tag :comments
		.button
			= field_set_tag(:class => 'buttons') do
				= submit_tag "Done"