!!! 5
%html{lang: 'en', itemscope: ''}
	%head
		%meta{name: :viewport, content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
		%title= @title.present? ? @title : 'Rate Trip'
		%script{src: 'https://use.fonticons.com/b2523290.js'}
		= javascript_include_tag 'jquery.min', 'bootstrap.min', 'star-rating.min'
		= javascript_include_tag 'application'
		= stylesheet_link_tag 'normalize', 'bootstrap.min', 'star-rating.min', 'sticky-footer'
		= stylesheet_link_tag 'application'
		= yield_content :include

	%body

		= yield
